In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("Weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saskylakh,RU,2022-09-04 00:37:00,71.9167,114.0833,39.74,62,100,14.94
1,1,Cape Town,ZA,2022-09-04 00:36:02,-33.9258,18.4232,55.09,90,75,8.05
2,2,Albany,US,2022-09-04 00:37:00,42.6001,-73.9662,74.05,74,100,3.36
3,3,Sabha,LY,2022-09-04 00:37:00,27.0377,14.4283,80.42,29,0,9.64
4,4,Kapaa,US,2022-09-04 00:37:01,22.0752,-159.3190,83.19,77,40,6.91

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [ ]:
# Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]] # [latitude, longitude]

# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"] # an array of length equal to the locations array length

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                    dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) & (city_data_df["Max Temp"] <= max_temp)]

preferred_cities_df.tail(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
552,552,Newberg,US,2022-09-04 00:51:24,45.3001,-122.9732,80.06,57,0,5.75
554,554,Sunland Park,US,2022-09-04 00:47:21,31.7965,-106.5800,86.41,41,0,14.97
560,560,Teknaf,BD,2022-09-04 00:51:26,20.8624,92.3058,80.89,86,91,5.01
563,563,Nalut,LY,2022-09-04 00:51:26,30.3333,10.8500,84.60,26,0,11.30
566,566,Namatanai,PG,2022-09-04 00:51:27,-3.6667,152.4333,84.99,63,36,10.31
567,567,Klungkung,ID,2022-09-04 00:51:27,-8.5333,115.4000,77.68,77,3,3.89
570,570,Wagar,SD,2022-09-04 00:51:28,16.1525,36.2032,81.25,60,67,17.05
576,576,Bandar-E Lengeh,IR,2022-09-04 00:51:30,26.5579,54.8807,87.91,79,1,6.91
577,577,Ozu,JP,2022-09-04 00:51:30,33.5000,132.5500,80.22,62,100,7.65
578,578,Sao Miguel,BR,2022-09-04 00:51:30,-5.4667,-35.3667,77.77,81,62,14.90

In [11]:
preferred_cities_df.count()

City_ID       195
City          195
Country       195
Date          195
Lat           195
Lng           195
Max Temp      195
Humidity      195
Cloudiness    195
Wind Speed    195
dtype: int64

### Map Vacation Criteria

In [12]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.tail(10)

                City Country  Max Temp      Lat       Lng Hotel Name
552          Newberg      US     80.06  45.3001 -122.9732
554     Sunland Park      US     86.41  31.7965 -106.5800
560           Teknaf      BD     80.89  20.8624   92.3058
563            Nalut      LY     84.60  30.3333   10.8500
566        Namatanai      PG     84.99  -3.6667  152.4333
567        Klungkung      ID     77.68  -8.5333  115.4000
570            Wagar      SD     81.25  16.1525   36.2032
576  Bandar-E Lengeh      IR     87.91  26.5579   54.8807
577              Ozu      JP     80.22  33.5000  132.5500
578       Sao Miguel      BR     77.77  -5.4667  -35.3667

In [13]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key }

In [14]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the lat and lng
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the lat and lng to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our lat and lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... Skipping.")
        continue

Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.

In [15]:
hotel_df.tail()

,City,Country,Max Temp,Lat,Lng,Hotel Name
567,Klungkung,ID,77.68,-8.5333,115.4000,Cegeng Lestari Guesthouse
570,Wagar,SD,81.25,16.1525,36.2032,
576,Bandar-E Lengeh,IR,87.91,26.5579,54.8807,کافی نت پارس
577,Ozu,JP,80.22,33.5000,132.5500,HOTEL FOREST
578,Sao Miguel,BR,77.77,-5.4667,-35.3667,CEJ - Centro Escoteiro da Juventude

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))